In [4]:
import pandas as pd
df = pd.read_csv("dat.csv")
df.head()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [5]:
df.iloc[5:10]

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
5,1017122,8,10,10,8,7.0,10,9,7,1,4
6,1018099,1,1,1,1,2.0,10,3,1,1,2
7,1018561,2,1,2,1,2.0,1,3,1,1,2
8,1033078,2,1,1,1,2.0,1,1,1,5,2
9,1033078,4,2,1,1,2.0,1,2,1,1,2

In [6]:
df.iloc[2:5:4]

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
2,1015425,3,1,1,1,2.0,2,3,1,1,2

In [14]:
df.columns

Index(['ID', 'Clump_Thickness', 'Cell_Size_Uniformity',
       'Cell_Shape_Uniformity', 'Marginal_Adhesion',
       'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin',
       'Normal_Nucleoli', 'Mitoses', 'Cancer_Type'],
      dtype='object')

In [1]:
df.iloc[24:25,4:5]

NameError: name 'df' is not defined

In [7]:
import pandas as pd
df = pd.read_csv("dat.csv")
df.head(2)

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2

In [4]:
df.iloc[24:25,4:5]

    Marginal_Adhesion
24                  1

In [6]:
df.iloc[24,4]

1

In [3]:
import pandas as pd
df = pd.read_csv("dat.csv")
df.shape

(699, 11)

In [4]:
df.head()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2